Starting: Docker login to Amazon ECR
==============================================================================
Task         : Command line
Description  : Run a command line script using Bash on Linux and macOS and cmd.exe on Windows
Version      : 2.250.1
Author       : Microsoft Corporation
Help         : https://docs.microsoft.com/azure/devops/pipelines/tasks/utility/command-line
==============================================================================
Generating script.
========================== Starting Command Output ===========================
/usr/bin/bash --noprofile --norc /home/vsts/work/_temp/a84212bf-3e80-4dcd-a6ac-56ab33435921.sh

Unable to locate credentials. You can configure credentials by running "aws login".
Error: Cannot perform an interactive login from a non TTY device

##[error]Bash exited with code '1'.
Finishing: Docker login to Amazon ECR
